<div class="card front {{{ cardType }}} {{{ Class }}} vertical">
  <header>
    <div class="name">{{{ Title }}}</div>
    <div class="abilityType">{{{ Type }}}</div>
  </header>
  <article>
    <div class="indicators">
      <div class="risk mdl-badge-left" data-badge="4">{{{ Risk }}}</div>
      <div class="target mdl-badge-left" data-badge="4">{{{ Target }}}</div>
      {{#if Damage }}
        <div class="damage mdl-badge" data-badge="1">{{{ Damage }}}</div>
      {{/if}}
      <div class="extras">{{{ Extras }}}</div>
    </div>
    <div class="effect">{{{ Effect }}}</div>
  </article>
  <footer>
    <div class="flavortext">{{{ Description }}}</div>
    <div class="cardType">{{ Class }}</div>
  </footer>
</div>