<div class="card front {{{ cardType }}} {{{ Class }}}">
  <header>
    <div class="indicators">
      <div class="top">
        {{#if Damage }}
          <div class="damage mdl-badge" data-badge="1">{{{ Damage }}}</div>
        {{else}}
          <div>{{default Damage "-" }}</div>
        {{/if}}
      </div>
      <div class="bottom risk mdl-badge" data-badge="3">
        {{#if Risk}}
          {{> icon img='d20' }} &ge; {{ Risk }}
        {{else}}
          -
        {{/if}}</div>
    </div>
    <div class="title">{{{ Title }}}</div>
  </header>
  <article>
    <div class="info">
      <div class="target mdl-badge-left" data-badge="4">{{{ Target }}}</div>
    </div>
    <div class="usage">{{{ Usage }}}</div>
    <div class="effect">{{{ Effect }}}</div>
    <div class="description">{{{ Description }}}</div>
  </article>
  {{> footer }}
</div>