<div class="card back {{ Class }} {{ cardType }} {{ Environment }}">
  <div class="cardType">
    {{#if Class }}
      {{ Class }}
    {{else}}
    {{#is cardType 'Equipment' }}
      Loot
    {{else}}
    {{#is cardType 'Ability' }}
      {{ Class }}
    {{else}}
      {{ cardType }}
    {{/is}}{{/is}}{{/if}}
  </div>
  <!--{{#is cardType 'Ability' }}<div class="aux">Ability</div>{{/is}}-->
  <footer>
    {{#is cardType 'Ability' }}<div class="class">{{ cardType }}</div>{{/is}}
    {{#is cardType 'Encounter' }}<div class="class">{{ cardType }}</div>{{/is}}
    {{#is cardType 'Trap' }}<div class="class">{{ cardType }}</div>{{/is}}
  </footer>
</div>