<div class="card back {{ class }} {{ cardType }}">
  {{#is cardType 'Encounter' }}
    <div class="cardType">{{ cardType }}</div>
    <div class="class">{{ class }}</div>
    <div class="threat">{{romanize threat }}</div>
  {{else}}
    <div class="cardType">
      {{#if class }}
        {{ class }}
      {{else}}
        {{ cardType }}
      {{/if}}
    </div>
    {{#is cardType 'Ability' }}<div class="class">{{ cardType }}</div>{{/is}}
  {{/is}}
</div>