<div class="card front {{{ cardType }}}">
  <header>
    <div class="indicators">
      <div class="health mdl-badge" data-badge="1">{{{ Health }}}{{> icon img='hp' }}</div>
      <div class="threat bottom mdl-badge" data-badge="3">{{romanize Threat }}</div>
    </div>
    <div class="title">{{{ Title }}}</div>
  </header>
  <article>
    {{#if Ongoing}}
      <div class="info ongoing mdl-badge-left" data-badge="2">{{{ Ongoing }}}</div>
    {{/if}}
    {{#if Surge}}
      <div class="surge mdl-badge-left" data-badge="4"><strong>Surge: </strong>{{{ Surge }}}</div>
    {{/if}}
    <div class="description">{{{ Description }}}</div>
  </article>
  {{> footer }}
</div>