<div class="card front {{{ cardType }}}">
  <header>
    <div class="indicators">
      <div class="health mdl-badge" data-badge="1">{{{ Health }}}{{> icon img='hp' }}</div>
    </div>
    <div class="title">{{{ Title }}}</div>
  </header>
  <article>
    {{#if Ongoing}}
      <div class="ongoing mdl-badge-left type bordered" data-badge="2">{{{ Ongoing }}}</div>
    {{/if}}
    {{#if Surge}}
      <div class="surge mdl-badge-left" data-badge="4"><strong>Surge: </strong>{{{ Surge }}}</div>
    {{/if}}
  </article>
  <footer>
    <div class="description">{{{ Description }}}</div>
    <div class="threat">{{romanize Threat }}</div>
    <div class="cardType">{{ Class }}</div>
  </footer>
</div>