<div class="card front {{{ cardType }}}">
  <header>
    <div class="title">{{{ Title }}}</div>
  </header>
  <article>
    <div class="type">{{{ Type }}}</div>
    <div class="effect">{{{ Effect }}}</div>
    <div class="description">{{{ Description }}}</div>
  </article>
  {{> footer }}
</div>