<div class="card front {{{ cardType }}}">
  <div class="contents">
    <header>
      <div class="name">{{{ Name }}}</div>
      <div class="abilityType mdl-badge" data-badge="1">{{{romanize tier }}}</div>
    </header>
    <article>
      <div class="indicators">
        <div class="type mdl-badge-left" data-badge="2">{{{ numberuses }}}</div>
      </div>
      <div class="abilitytext mdl-badge-left" data-badge="3"><div class="child">{{{ abilitytext }}}</div></div>
    </article>
    <footer>
      <div class="flavortext">{{{ flavortext }}}</div>
      <div class="cardType">{{ cardType }}</div>
    </footer>
  </div>
</div>