<div class="card front {{{ cardType }}}">
  <div class="contents">
    <header>
      <div class="goldvalue mdl-badge" data-badge="1">
        <span>{{digitGrouping goldvalue }} </span>{{> icon img='coin' }}
      </div>
      <div class="name">{{{ Name }}}</div>
    </header>
    <article>
      <div class="type mdl-badge-left" data-badge="2">{{{ numberuses }}}</div>
      <div class="abilitytext mdl-badge-left" data-badge="3">{{{ abilitytext }}}</div>
    </article>
    <footer>
      <div class="flavortext">{{{ flavortext }}}</div>
      <div class="cardType">{{ cardType }}</div>
    </footer>
  </div>
</div>