<div class="card front {{{ cardType }}} horizontal">
  <header>
    <div class="name mdl-badge-left" data-badge="1">{{{ Title }}}</div>
  </header>
  <article>
    <div class="passive mdl-badge" data-badge="2">{{{ Passive }}}</div>
    <div class="active mdl-badge" data-badge="3"><strong>Destroy:</strong> {{{ Active }}}</div>
  </article>
  <footer>
    <div class="flavortext">{{{ Description }}}</div>
    <div class="cardType">{{ cardType }}</div>
  </footer>
</div>