<div class="card front {{{ cardType }}}">
  <header>
    <div class="indicators">
      <div class="threat">{{romanize Threat }}</div>
    </div>
    <div class="title">{{{ Title }}}</div>
  </header>
  <article>
    <div class="effect">{{{ Effect }}}</div>
    <div class="description">{{{ Description }}}</div>
  </article>
  {{> footer }}
</div>