<footer>
  <div class="slot">
    {{#if Slot }}{{{ Slot }}}{{/if}}
  </div>
  <div class="cardType">
    {{#is cardType 'Encounter' }}
      {{ Class }}
    {{ else }}{{#is cardType 'Equipment' }}
      {{ Type }}
    {{ else }}
      {{ cardType }}
    {{/is}}{{/is}}
  </div>
</footer>