<footer>
  <div class="slot">
    {{#if Slot }}{{{ Slot }}}{{/if}}
  </div>
  <div class="cardType">
    {{#is cardType 'Encounter' }}
      {{ Class }}
    {{ else }}{{#is cardType 'Equipment' }}
      {{ Type }}
    {{ else }}
      {{ cardType }}
    {{/is}}{{/is}}
  </div>
  {{#if Worth}}
    <div class="worth mdl-badge" data-badge="3">
      {{#gt Worth 0 }}<span>{{digitGrouping Worth }} gold</span>
      {{else}}no value{{/gt}}
    </div>
  {{/if}}
</footer>